.layout-container {
    height: 100vh;
}

.layout-sidenav {
    width: 260px;
    position: fixed;
    top: 60px;
    left: 5px;
}

.layout-content {
    padding-left: 12px;
    height: calc(100vh - 64px);
    overflow: auto;
    background: var(--mat-sys-surface);
}

.logo {
    width: 90px;
    height: 90px;
    margin-bottom: 1rem;
}